/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
}

/* Web app wrapper  */
.web-wrapper{
    height: 100vh;

    /* TEST */
    background-color: aquamarine;
}

/* Color grey */
.clr-grey{
    color: grey;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 14px;
}

/* Link decorations */
a{
    color: grey;
    text-decoration: none;
}

/* List style */
ul li{
    list-style-type: none;
}

/* Reset img */
img{
    width: 100%;
}

/* Width 100% */
.web-wrapper,
main,
footer{
    width: 100%;
}

/* Main icon */
.main-icon{
    width: 25px;
    height: auto;
}

/* Small incon */
.small-icon{
    width: 10px;
    height: auto;
}

/* Height 80px */
.upgrade,
footer{
    height: 80px;
}

/* Upgrade */
.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.button-upgrade{
    padding-top: 20px;
    padding-right: 20px;
}

.btn-white{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}


/* MAIN */
main{
    height: calc(100% - 80px);
    overflow: hidden;
}

/* Nav main */
.nav-main{
    display: flex;
    flex-direction: column;
    float: left;
    width: 200px;
    min-height: 300px;
    overflow: hidden;
    background-color: black;
}

/* Main height 100% */
.nav-main,
.main-content{
    height: 100%;
}

.nav-main img{
    vertical-align: middle;
    filter: invert(0.5);
}

.logo img,
.nav-actions a,
.playlists,
.user-and-install{
    padding-left: 10px;
}

/* Logo */
.logo img{
    padding: 10px 0;
    filter: invert(0);
}

.spotify-logo{
    width: 150px;
    height: auto;
}

.spotify-icon{
    display: none;
}

/* Nav actions */
.nav-actions{
    margin-top: 10px;
    font-size: 12px;
}

.nav-actions ul li{
    margin-bottom: 10px;
}

.nav-actions ul li:first-child{
    border-left: 3px solid #a1ee2f;
}

/* Playlists */
.playlists{
    flex-grow: 1;
    overflow: hidden;
    padding-top: 10px;
}

.playlists h3{
    color: white;
}

.create-playlist{
    padding: 10px 0;
    font-size: 12px;
}

.plus i{
    color: black;
    background-color: grey;
    padding: 7px;
    margin-right: 5px;
}

.playlists-name{
    overflow-y: auto;
    height: 70%;
    line-height: 25px;
}

/* User and install */
.install-app{
    margin-right: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid grey;
}

.username{
    padding-top: 10px;
    padding-bottom: 5px;
}

.username img{
    filter: invert(0);
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

.username span{
    color: white;
    font-weight: 700;
}

.user-and-install img{
    margin-right: 5px;
}


/* Main content */
.main-content{
    float: left;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 100px;
    background-color: #141922;
}

/* Nav content */
.nav-content ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.nav-content ul li{
    padding: 20px;
    position: relative;
}

.nav-content .underline::after{
    content:'';
    width: 30px;
    height: 2px;
    margin-top: 10px;
    background-color: #a1ee2f;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* Recently played */
.music-container{
    width: 100%;
    padding: 20px;
}

.recently-music{
    display: flex;
    justify-content: space-around;
}

.recently-content{
    width: calc( (100% / 6) - 10px);
    padding-right: 10px;
    text-align: center;
}

.recently-content .singer{
    padding-top: 10px;
}

.recently-content img, 
.music-content img{
    padding: 20px 0;
}

/* Create for and Popular artists */

.row-music{
    display: flex;
    justify-content: space-around;
    width: calc(100% / 3);
}

.music-content{
    width: calc( (100% / 2) - 10px);
    padding-right: 10px;
    text-align: center;
}

.create-for h2,
.popular-artists h2{
    padding-top: 30px;
}

.create-for p,
.popular-artists p{
    padding-top: 10px;
}

.br-radius{
    border-radius: 50%;
}

@media screen and (max-width:700px) {
    /* Recently played */
    .recently-music{
        flex-wrap: wrap;
        justify-content: flex-start;
    }


    .recently-content{
        width: calc( (100% / 4) - 10px);
    }

    /* Create for and Popular artists */

    .row-music{
        width: calc(100% / 2);
        justify-content: flex-start;
    }
}

@media screen and (max-width:601px) {
    /* Recently played */
    .recently-content{
        width: calc( (100% / 2) - 10px);
    }

    .row-music{
        width: 100%;
    }
}


@media screen and (max-width:599px) {
    /* Nav main */
    .nav-main{
        width: 60px;
        text-align: center;
    }

    .nav-main span{
        display: none;
    }

    /* Main content */
    .main-content{
        width: calc(100% - 60px);
    }

    .nav-actions{
        flex-grow: 1;
    }

    .nav-actions a{
        padding: 0;
    }

    .nav-actions ul li:first-child{
        border-left:none;
    }

    /* Upgrade */
    .upgrade{
        width: calc(100% - 60px);
    }

    /* Logo */
    .spotify-logo{
        display: none;
    }
    
    .spotify-icon{
        display: inline-block;
    }
    
    /* Playlists */
    .playlists{
        display: none;
    }

    .install-app{
        border: none;
    }

    /* Recently played */
    .recently-content{
        width: calc( (100% / 2) - 10px);
    }

}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #282828;
}

footer h3{
    font-size: 12px;
}

/* Song footer */
.song-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song-footer img{
    width: 50px;
    margin: 0 10px ;
}

.piece-name .clr-grey{
    font-size: 10px;
    padding-right: 30px;
}

.footer-icon i{
    font-size: 14px;
    padding-right: 10px;
}


/* Multimedia footer */
.multimedia-footer{
    width: 40%;
}

.multimedia-footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.multimedia-footer i{
    font-size: 16px;
    padding: 0 10px;

}

.play-btn i{
    font-size: 30px;
}

.multimedia-line{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.line-duration{
    width: 100%;
    height: 3px;
    background-color: grey;
    margin: 0px 20px;

}

.line-advancement{
    width: 30%;
    height: 3px;
    background-color: #c1c1c1;
}

/* Screen and audio options */
.screen-and-audio-options{
    /* width: 10%; */
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.line-sound{
    width: 80px;
    height: 3px;
    background-color: grey;
}

